<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--Remote MSMQ-->
    <!--<add key="MsmqName" value="FormatName:Direct=TCP:192.168.100.200\PRIVATE$\TxQueue2"/>-->
    <add key="InMsmqName" value=".\PRIVATE$\MatchingInQueue"/>
    <add key="OutMsmqName" value=".\PRIVATE$\MatchingOutQueue"/>
    <add key="RunAsDebugConsole" value="true" />
    <add key="LogDirectory" value="." />
    <add key="RabbitMqRequestUri" value="amqp://exchange:exchange@192.168.100.80:5672/"/>
    <add key="RabbitMqRequestQueueName" value="ReqToMatchingCore"/>
    <add key="RabbitMqOrderResponseUri" value="amqp://exchange:exchange@192.168.100.80:5672/"/>
    <add key="RabbitMqOrderResponseQueueName" value="RespFromMatchingCore"/>
    <add key="RabbitMqTxResponseUri" value="amqp://exchange:exchange@192.168.100.80:5672/"/>
    <add key="RabbitMqTxResponseQueueName" value="TxFromMatchingCore"/>
    <add key="prefetchCount" value="1"/>
    <add key="RequestReceiverIP" value="192.168.118.243"/>
    <add key="RequestReceiverPort" value="59999"/>
    <add key="TxReceiverIP" value="192.168.118.243"/>
    <add key="TxReceiverPort" value="59998"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
</configuration>
